body {
    background-color: #EDF1D6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}
h1 {
    
    color: #609966;

}
h3 {
    
    color: #609966;
}